<app-menu-breadcrumb [namePath]="'Danh sách người dùng'"></app-menu-breadcrumb>
<div class="row row-custom">
    <div class="col-md">
      <input type="text" class="form-control" placeholder="Tìm kiếm...">
    </div>
    <div class="col-sm-12 mt-10">
        <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm</button>
    </div>
</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
</table>